:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

input[type="text"] {
  line-height: 28px;
  
}
input {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  outline-color: rgb(0, 157, 193);
  padding-left: 6px;
}

button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 100px 1fr;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.container:has(.sidebar:hover),
.container:has(form input:focus) {
  grid-template-columns: 30% 1fr;
}
.container:has(.sidebar:hover) .form-container,
.container:has(form input:focus) .form-container {
  opacity: 1;
}
.container:has(.sidebar:hover) .plus,
.container:has(form input:focus) .plus {
  opacity: 0;
}
.sidebar:not(:hover) .form-container{
  opacity: 0;
}
.sidebar:not(:hover) .plus{
  opacity: 1;
}

.sidebar {
  background-color: #ffffff;
  grid-column: 1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0 0 0 / 0.2);
  display: grid;
  align-items: center;
  position: relative;
}
.sidebar .plus {
  font-size: 4rem;
  position: absolute;
  right: 25px;
  opacity: 1;
  transition: opacity 200ms;
}

.sidebar.isCollapsed .form-container{
  display: none;
}

.header {
  grid-row: 1;
  grid-column: 2 / 4;
  background-color: #fff6ef;
  display: grid;
}
.header h1 {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

.main-content {
  grid-column: 2 / 4;
  padding: 1rem;
  grid-row: 2;
  background-color: #fff6ef;
}

.main-content .books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: max-content;
  grid-auto-rows: minmax(max-content, auto);
  gap: 1rem;
}

.books .card {
  background-color: #ffffff;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid black;
}
.books .add-book-btn {
  position: relative;
  height: 140px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.books .add-book-btn p{
  text-align: center;
  height: 100%;
  width: 100%;
}
.books .add-book-btn::after {
  content: "+";
  font-size: 4rem;
  top: 20px;
  position: absolute;
}
.card h3 {
  margin-bottom: 8px;
}
.card button {
  visibility: hidden;
  scale: 0.6;
  transition: all 40ms;
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: rgb(255, 89, 89);
}
.card:hover button {
  visibility: visible;
  scale: 1;
}

.form-container {
  transition: opacity 100ms 100ms;
  min-width: max-content;
}
.form-container h2 {
  margin-bottom: 2rem;
}
form {
  display: grid;
  gap: 10px;
}
form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 2px;
}
form input[type="text"] {
  display: block;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
}
form input[type="checkbox"] {
  border-radius: 5px;
  height: 28px;
  width: 28px;
  border: 2px solid black;
  display: grid;
  position: relative;
}
form input[type="checkbox"]:checked {
  background-color: rgb(0, 208, 255);
}
form input[type="checkbox"]:checked::after {
  color: black;
  content: "✔︎";
  position: relative;
  align-self: center;
  right: 1px;
  font-size: 1.2rem;
}
form button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  background-color: rgb(0, 208, 255);
}